<section>

    <div class="card">

        <form action="/admin/edit-product/{{product._id}}" method="post" enctype="multipart/form-data">
            <h3>EDIT PRODUCT</h3>
            <div class="mb-3">
            <label for="" class="form-label">Name</label>
            <input type="text" class="form-control" name="name" value='{{product.name}}'>
            </div>

             <div class="mb-3">
            <label for="" class="form-label">Category</label>
            <input type="text" class="form-control" name="category" value='{{product.category}}'>
            </div>

            <div class="mb-3"> 
            <label for="" class="form-label">Price</label>
            <input type="text" class="form-control" name="price" value='{{product.price}}'>
            </div>

             <div class="mb-3">
            <label for="" class="form-label">Description</label>
            <input type="text" class="form-control" name="description" value='{{product.description}}'>
            </div>

             <div class="mb-3">
            <label for="" class="form-label">Image</label>
            <img src="/product-images/{{product._id}}.jpg" style="height: 50px;">
            <input type="file" class="form-control" name="image">
            </div>

            <button type="submit">submit</button>

        </form>

    </div>

</section>